<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Microblog</title>
    {% else %}
    <title>Welcome to Microblog</title>
    {% endif %}
  </head>

  <body>
    <div>
      Microblog:
      <!-- this uses the url_for() function imported from flask
        to generate the URL by mapping it to its view function-->
      <a href="{{ url_for('index') }}">Home</a>
      <!-- this conditional logic will change the login link to logout once a user is logged in, .is_anonymous is true for users who aren't logged in -->
      {% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <!-- the url_for() here takes an argument for the dynamic URL -->
      <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>

</html>